.container {
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
}
nav{
  ul{
    list-style-type: none;
    display: flex;
    margin-left: -80px;
    li {
      a {
        color: green;
        text-decoration: none;
        margin-left: 20px;
        font-size: 20px;
      }
    }
  }
}
